/* Right Column */

.right-content {
  border: 1px solid red;
}

.right-card {
  background-color: #ccc;
}


/* Left Column Stuff */

.left-content {
  border: 1px solid blue;
  width: 1000px; /* needs to be relative */
  min-height: 500px;
  position: relative;
}

.left-content .item {
  border: 1px solid #f57c00;
}

.preview-card {
  background-color: aliceblue;
  right: 0px;
  top: 0;
  min-height: 100%;
  z-index:2;
  position: absolute;
}

.preview-card-header {
  background-color: #00bcd4;
}

.preview-card-header p {
  margin: 0;
}

.pizza-appear {
  width: 0;
}

.pizza-appear.pizza-appear-active {
  width: 100%;
  transition: width 1s ease-in;
}

.pizza-enter {
  width: 0;
}

.pizza-enter.pizza-enter-active {
  width: 100%;
  transition: width 1s ease-in;
}

.pizza-leave {
  width: 100%;
}

.pizza-leave.pizza-leave-active {
  width: 0;
  transition:  width 1s ease-in;
}
